.teachers {
  .slide {
    text-align: center;
    &:hover {
      .image {
        img {
          background: $green;
        }
        .share {
          bottom: 0;
        }
      }
    }
    .image {
      position: relative;
      overflow: hidden;
      img {
        background: $light-green;
        width: 100%;
      }
      .share {
        position: absolute;
        bottom: -10rem;
        left: 0;
        right: 0;
        background: rgba(0, 0, 0, 0.8);
        padding: 2rem;
        a {
          font-size: 3rem;
          margin: 0 1rem;
          color: $white;
          &:hover {
            color: $green;
          }
        }
      }
    }
    .content {
      display: flex;
      padding-top: 1rem;
      align-items: center;
      justify-content: space-between;
      h2 {
        @include titleText(2rem);
      }
      span {
        @include graphText(1.5rem);
      }
    }
  }
}
