.faq {
  .accordion-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: flex-start;
    .accordion {
      flex: 1 1 40rem;
      border: $border;
      &.active {
        .accordion-heading {
          background: $green;
          h2 {
            color: $white;
          }
          i {
            color: $white;
            transform: rotate(180deg);
          }
        }
        .accordion-content {
          display: block;
        }
      }
      .accordion-heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        cursor: pointer;
        padding: 1.5rem;
        h2 {
          @include titleText(2rem);
        }
        i {
          font-size: 2rem;
          color: $green;
        }
      }
      .accordion-content {
        padding: 1.5rem;
        @include graphText(1.5rem);
        border-top: $border;
        display: none;
      }
    }
  }
}
