@import "variables";

@mixin grid($value) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($value, 1fr));
  gap: 2rem;
}

@mixin titleText($titleText) {
  font-size: $titleText;
  text-transform: capitalize;
  color: $black;
}

@mixin graphText($graphText) {
  font-size: $graphText;
  line-height: 2;
  color: $light-color;
}
