.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  padding: 2rem 10%;
  background-color: $white;
  box-shadow: $box-shadow;

  .logo {
    @include titleText(2.5rem);
    margin-right: auto;
    i {
      color: $green;
    }
  }

  .navbar {
    position: relative;

    #close-navbar {
      position: absolute;
      top: 1.5rem;
      right: 2rem;
      font-size: 4rem;
      cursor: pointer;
      color: $black;
      display: none;
      &:hover {
        transform: rotate(90deg);
      }
    }

    a {
      margin-right: 2rem;
      @include titleText(2rem);
      &:hover {
        color: $green;
      }
    }
  }

  .icons div {
    cursor: pointer;
    font-size: 2.5rem;
    color: $black;
    margin-left: 1.5rem;
    &:hover {
      color: $green;
    }
  }

  #menu-btn {
    display: none;
  }
}
