.home {
  padding: 0;
  .slide {
    display: flex;
    align-items: center;
    height: 60rem;
    background-size: cover !important;
    background-position: center !important;
  }
  .content {
    width: 50rem;
    h3 {
      @include titleText(5rem);
      color: $white;
    }
    p {
      @include graphText(1.6rem);
      color: $light-white;
      padding: 1rem 0;
    }
  }
  @media (max-width: 768px) {
    .slide .content h3 {
      font-size: 3rem;
    }
  }
}

.swiper-pagination-bullet-active {
  background: $green;
}
