@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  transition: all 0.35s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $green;
    border-radius: 0.3rem;
  }
}

img {
  user-select: none;
}

section,
footer {
  padding: 5rem 10%;
}

.heading-link {
  text-align: center;
  background: url(/images/heading-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  h1 {
    @include titleText(4rem);
  }
  p {
    @include graphText(2rem);
    a {
      color: $green;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.heading {
  text-align: center;
  margin-bottom: 3rem;
  @include titleText(3.5rem);
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  font-size: 1.8rem;
  border: $border;
  background: $light-green;
  color: $green;
  cursor: pointer;
  text-transform: capitalize;
  &:hover {
    background: $green;
    color: $white;
  }
}
